In [1]:
import pandas as pd
import numpy as numpy
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

In [74]:
tp104f = pd.read_csv('./Data/104_Taipei_female.csv') 
tp104m = pd.read_csv('./Data/104_Taipei_male.csv')
tp105f = pd.read_csv('./Data/105_Taipei_female.csv') 
tp105m = pd.read_csv('./Data/105_Taipei_male.csv')

print (tp104f.shape, tp104m.shape, tp105f.shape, tp105m.shape)
# tp104f['village']
# tp105f['village'].value_counts()

(242, 27) (242, 27) (457, 27) (457, 27)

In [45]:
cols = ['流水号', '处理人', '处理时间']
data = [[10000, '张三', '2016-10-01'],
        [10000, '李四', '2016-10-02'],
        [10001, '王五', '2016-10-01'],
        [10002, '赵六', '2016-10-03'],
        [10001, '黄七', '2016-10-02'],
        [10000, '吴八', '2016-10-03']]
frame = pd.DataFrame(data,columns=cols)

def combination(names):
    return ','.join(names)
    
frame.groupby('流水号').aggregate(combination)

            处理人                              处理时间
流水号
10000  张三,李四,吴八  2016-10-01,2016-10-02,2016-10-03
10001     王五,黄七             2016-10-01,2016-10-02
10002        赵六                        2016-10-03

In [65]:
gb_tp105f = tp105f
gb_tp105f['site_id'].value_counts()

gb_tp105f = gb_tp105f.groupby('site_id').aggregate('sum')

In [77]:
tp105f[0:1]

,statistic_yyy,site_id,village,edu_age_15up_total,edu_doctor_graduated_f,edu_doctor_ungraduated_f,edu_master_graduated_f,edu_master_ungraduated_f,edu_university_graduated_f,edu_university_ungraduated_f,...,edu_seniorvocational_graduated_f,edu_seniorvocational_ungraduated_f,edu_junior_graduated_f,edu_junior_ungraduated_f,edu_juniorvocational_graduated_f,edu_juniorvocational_ungraduated_f,edu_primary_graduated_f,edu_primary_ungraduated_f,edu_selftaughtl_f,edu_illiterate_f
0,統計年,區域別,村里名稱,總計,博畢_女,博肄_女,碩畢_女,碩肄_女,大畢_女,大肄_女,...,職畢_女,職肄_女,國畢_女,國肄_女,初畢_女,初肄_女,小畢_女,小肄_女,自修_女,不識_女

In [95]:
simple_h_tp105f = tp105f[['site_id', 'village','edu_doctor_graduated_f','edu_master_graduated_f','edu_university_graduated_f','edu_senior_graduated_f','edu_junior_graduated_f']]
# simple_h_tp105f.head()
little_school_tp105f =  tp105f[['site_id', 'village','edu_primary_graduated_f','edu_junior_graduated_f']]
selfteach_tp105f = tp105f[['site_id', 'village','edu_selftaughtl_f']]

In [ ]:
simple_h_tp105f = simple_h_tp105f.iloc[1:,2:].astype(float)
simple_h_tp105f.plot.bar()

In [94]:
selfteach_tp105f[1:].edu_selftaughtl_f.astype(float).describe()

count    456.000000
mean       8.000000
std        4.999341
min        0.000000
25%        4.000000
50%        7.000000
75%       11.000000
max       32.000000
Name: edu_selftaughtl_f, dtype: float64

In [62]:
tp105m["site_id"].value_counts()
#各區有幾個里

臺北市大安區    53
臺北市士林區    51
臺北市文山區    43
臺北市北投區    42
臺北市中山區    42
臺北市信義區    41
臺北市內湖區    39
臺北市萬華區    36
臺北市松山區    33
臺北市中正區    31
臺北市大同區    25
臺北市南港區    20
區域別        1
Name: site_id, dtype: int64

In [9]:
tp104f.iloc[1:5,0:4]
# tp104f_gradratio =

  statistic_yyy site_id village edu_age_15up_total
1           104  臺北市松山區     莊敬里               4977
2           104  臺北市松山區     東榮里               7114
3           104  臺北市松山區     三民里               6193
4           104  臺北市松山區     新益里               4307